pipeline/2_Azure Function.json
{
	"name": "2_Azure Function",
	"properties": {
		"activities": [
			{
				"name": "Set input for function",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "func",
					"value": "test"
				}
			},
			{
				"name": "Call Azure Function",
				"type": "AzureFunctionActivity",
				"dependsOn": [
					{
						"activity": "Set input for function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"functionName": "Get Time Function",
					"body": {
						"value": "@variables('func')",
						"type": "Expression"
					},
					"method": "POST"
				},
				"linkedServiceName": {
					"referenceName": "GetTimeAzureFunction",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Check Status",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Call Azure Function",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Call Azure Function').output",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 5
							}
						},
						{
							"name": "Get Function Status",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait ",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"url": {
									"value": "@activity('Call Azure Function').output.statusQueryGetUri",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"func": {
				"type": "String",
				"defaultValue": "test"
			}
		},
		"folder": {
			"name": "Azure Function in ADF"
		},
		"annotations": []
	}
}