pipeline/Call_Rest_Api.json
{
	"name": "Call_Rest_Api",
	"properties": {
		"activities": [
			{
				"name": "GetAPIKey",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "https://%7byourkeyvaultname%7d.vault.azure.net/secrets/%7bsecret-name%7d/%7bsecret-version%7d?api-version=7.3",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net/"
					}
				}
			},
			{
				"name": "Set APIKey value",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetAPIKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "APIKey",
					"value": {
						"value": "@activity('GetAPIKey').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"APIKey": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tutorials/CallRestApi"
		},
		"annotations": []
	}
}