pipeline/Demo.json
{
	"name": "Demo",
	"properties": {
		"activities": [
			{
				"name": "Execute products Pipeline",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "1_Products",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set error message var",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute products Pipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "TestVariable",
					"value": {
						"value": "@activity('Execute products Pipeline').error.Message",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set error message var",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"enableStaging": false
				}
			}
		],
		"variables": {
			"TestVariable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Tutorials/ADF Pipeline Activity Output To File"
		},
		"annotations": []
	}
}