pipeline/New_Logic_Pipeline.json
{
	"name": "New_Logic_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "MainLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable11",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachLoop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "MainLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('MainLookup').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}